<div class="container-fluid">
  <div class="container d-flex" style="padding-top: 50px">
    <div class="col left">
      <a href="#home" class="logo-link">
        <span class="logo-text">SafeLuna</span>
      </a>
      <p class="left-text">
        The SafeLuna is a community focused DeFi token that forms part<br> of the expanding SafeLuna ecosystem.
      </p>
    </div>
    <div class="col right">
      <div class="wrapper d-flex justify-content-end">
       <!-- <div class="left-block d-flex flex-column">
          <a href="" class="text-link">Legal Overview</a>
          <a href="" class="text-link">Privacy Policy</a>
        </div>-->
        <div class="right-block d-flex flex-column">
          <a href="https://t.me/safeluna_official" target="_blank"  class="text-link">Telagram</a>
          <a href="" target="_blank"  class="text-link">Instagram</a>
          <a href="https://twitter.com/safelunas" target="_blank"  class="text-link">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col">
      <div class="order">
        <p class="text-1">
          SafeLuna is a registered trademark of Artevelin Inc. All Rights Reserved. Artevelin
        </p>
        <p class="text-2">
          All logos are registered trademarks of their respective owners. All contents of this document,
          unless otherwise credited, are copyright © 2022 SafeLuna Inc.
        </p>
      </div>
    </div>
  </div>
</div>
