<div class="container-fluid guid-block">
  <div class="container">
    <div class="col head-wrapper">
      <p class="head-text">BUYING GUIDE</p>
      <span class="little-text">How to buy SafeLuna</span>
    </div>
  </div>
</div>
<div class="container-fluid guid-content" style="background: #1f2329">
  <div class="container">
    <div class="col d-flex contents-wrapper">
      <div class="col-3">
        <div class="contents">
          <h5 class="title-contents">Table of Contents</h5>
          <ol class="item-wrap">
            <li class="item">
              <p class="item-text">Create a Wallet</p>
            </li>
            <li class="item">
              <p class="item-text">Purchase BNB</p>
            </li>
            <li class="item">
              <p class="item-text">Swap BNB for SafeLuna</p>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-9">
        <div class="step-wrapper">
          <div class="step-item d-flex justify-content-start">
            <div class="left-block">
              <div class="step-left d-flex flex-column align-items-center">
                <span class="step-text">Step</span>
                <span class="number-text">1</span>
              </div>
            </div>
            <div class="right-block d-flex flex-column">
              <span class="title">Create a Wallet</span>
              <span class="content">
                Download the <span style="color: #21bbb3">TrustWallet</span> & <span style="color: #21bbb3">MetaMask</span>
                and follow the steps to make your wallet.
                Always remember to keep the <br>12-word seed phrase a secret! Do not share it with anyone ever!
                We will never ask you for your seed phrase, ever!
              </span>
            </div>
          </div>
        </div>
        <div class="step-wrapper">
          <div class="step-item d-flex justify-content-start">
            <div class="left-block">
              <div class="step-left d-flex flex-column align-items-center">
                <span class="step-text">Step</span>
                <span class="number-text">2</span>
              </div>
            </div>
            <div class="right-block d-flex flex-column">
              <span class="title">Purchase BNB</span>
              <span class="content">
                Buy bnb in a convenient way for you to your wallet.
              </span>
            </div>
          </div>
        </div>
        <div class="step-wrapper">
          <div class="step-item d-flex justify-content-start">
            <div class="left-block">
              <div class="step-left d-flex flex-column align-items-center">
                <span class="step-text">Step</span>
                <span class="number-text">3</span>
              </div>
            </div>
            <div class="right-block d-flex flex-column">
              <span class="title">Swap BNB for SafeLuna</span>
              <span class="content">
                Click on the swap button at the bottom and ensure that the slippage is at 12%.
                Select Smart Chain (BNB) in the top slot and SafeLuna in the bottom slot. Just click swap!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
