<div class="container-fluid wrapper-content" id="about">
  <div class="container d-flex">
    <div class="col">
      <p class="title-block">About Us</p>
      <p class="content-text">
        Human oriented. The SafeLuna community is committed to a brighter future and a new ecosystem.
      </p>
      <p class="content-text2">
        Our mission and goal is to get a new Luna v2.0 so that our community can compensate for their losses.
        We will show the whole world how strong our community is, and how strong each of us is.
        The whole world knows who we are! We can, we are strong.
      </p>
    </div>
    <div class="col rght-bl">
      <img src="assets/images/icons/luna.png" alt="" class="luna-img">
    </div>
  </div>
</div>
