<div class="container-fluid guid-block">
  <div class="container">
    <div class="col head-wrapper">
      <p class="head-text">Sales Options</p>
      <span class="little-text">SafeLuna information</span>
    </div>
  </div>
  <div class="container">
    <div class="col d-flex justify-content-center">
      <table class="table-wrapper">
        <thead class="table-head">
        <tr>
          <td></td>
          <td>Option 1</td>
          <td>Option 2</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Asset</td>
          <td class="text">SFL Token</td>
          <td class="text">SFL Token</td>
        </tr>
        <tr>
          <td>Sale Period</td>
          <td class="text">June 17, 2022 17:00 UTC - June 23, 2022 23:59 UTC</td>
          <td class="text">June 17, 2022 22:00 UTC - June 23, 2022 23:59 UTC</td>
        </tr>
        <tr>
          <td>Supply for Sale</td>
          <td class="text">5% (40,000,00.00 tokens)</td>
          <td class="text">10% (80,000,000 tokens)</td>
        </tr>
        <tr>
          <td>Purchase Limits	</td>
          <td class="text">
            $100 min
            <br>$500 max
          </td>
          <td class="text">
            $100 min
            <br>$500 max
          </td>
        </tr>
        <tr>
          <td>Funding Methods</td>
          <td>BNB</td>
          <td>BNB</td>
        </tr>
        <tr>
          <td></td>
          <td><a href="/" class="buy">Buy</a></td>
          <td><a href="/" class="buy disabled">Buy</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
