<div class="container-fluid" style="padding-top: 220px" id="home">
  <div class="container wrap-header">
    <div class="col-6 left-block">
      <div class="title-wrapper">
        <h6 class="title_small">welcom to</h6>
        <h1 class="title d-flex">safe <span style="color: gold;">luna</span></h1>
        <p class="title-text">
          Community-driven Innovation for Good
        </p>
      </div>
      <div class="button-wrapper">
        <a href="" class="buy" style="margin-right: 25px">Buy SafeLuna</a>
        <a href="" class="chart">Live Chart</a>
      </div>
      <div class="media-wrapper">
        <a href="https://t.me/safeluna_official" class="media-link" target="_blank">
          <img src="assets/images/icons/telegram.png" alt="" class="img-media">
        </a>
        <a href="https://twitter.com/safelunas" class="media-link" target="_blank">
          <img src="assets/images/icons/twitter.png" alt="" class="img-media">
        </a>
        <a href="https://www.reddit.com/r/SafeLuna/" class="media-link" target="_blank">
          <img src="assets/images/icons/reddit.png" alt="" class="img-media" style="width: 24px">
        </a>
        <a href="/" class="media-link" target="_blank">
          <img src="assets/images/icons/instagram.png" alt="" class="img-media">
        </a>
      </div>
    </div>
  </div>
  <div class="container scroll-wrapper">
    <a href="#about" class="scroll-link">
      <img src="assets/images/icons/scroll.gif" alt="scroll" class="scroll">
    </a>
  </div>
</div>
