<div class="container-fluid" id="thetoken">
  <div class="container d-flex container-wrapper">
    <div class="col">
      <p class="title-block">The Token</p>
      <p class="text-token">
        The SafeLuna is a community focused DeFi token that forms part of the expanding SafeLuna ecosystem.
      </p>
      <p class="text-small">
        Three simple functions occur during each trade
      </p>
      <div class="wrap-items">
        <div class="function-item d-flex flex-column">
          <div class="text-item">
            <p class="text-1 m-0">Reflections</p>
            <p class="text-2 m-0">4% is Redistributed to all existing holders</p>
          </div>
          <div class="text-item">
            <p class="text-1 m-0">LP Acquisition</p>
            <p class="text-2 m-0">3% is added to liquidity</p>
          </div>
          <div class="text-item">
            <p class="text-1 m-0">Token Burn</p>
            <p class="text-2 m-0">2% of tokens are burned</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col rght">
      <img src="assets/images/lunabg/circ.png" alt="" class="logo-luna">
    </div>
  </div>
</div>
<div class="container">
  <div class="col">
    <div class="block-inform d-flex justify-content-between">
      <div class="commmunity-block col-4 d-flex align-items-center pr-25">
        <div class="community-logo">
          <img src="assets/images/icons/ico/group.png" alt="123" class="comm-img">
        </div>
        <div class="comm-text">
          <div class="comm-title">Community Focused</div>
          <p class="text">Community Focused and fair launch.
            <br>The dev team does not have its own tokens.
          </p>
          <a href="https://t.me/safeluna_official" class="comm-link" target="_blank">Join Us →</a>
        </div>
      </div>
      <div class="Automatic-block col-4 d-flex align-items-center pr-25">
        <div class="community-logo">
          <img src="assets/images/icons/ico/payment.png" alt="123" class="comm-img">
        </div>
        <div class="comm-text">
          <div class="comm-title">Automatic LP</div>
          <p class="text">Every trade contributes towards auto-generating
            liquidity that goes into multiple pools used by exchanges
          </p>
        </div>
      </div>
      <div class="Rewards-block col-4 d-flex align-items-center">
        <div class="community-logo">
          <img src="assets/images/icons/ico/money.png" alt="123" class="comm-img">
        </div>
        <div class="comm-text">
          <div class="comm-title">RFI Static Rewards</div>
          <p class="text">Holders earn passive rewards through static reflection
            as they watch their balance of SafeLuna grow indefinitely.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
