<div class="container-fluid"  style="position: fixed">
  <div class="container container-wrapper">
    <div class="col nav-wrapper d-flex justify-content-between">
      <div class="logo-wrapper">
        <a href="#home" class="logo-link">
          <img src="assets/images/logo.png" alt="logo" class="img-logo" style="width: 50px">
          <span class="logo-text">Safe<span class="text-gold">Luna</span></span>
        </a>
      </div>
      <div class="nav">
        <a href="#home" class="nav-link">Home</a>
        <a routerLink="/sale" class="nav-link flashing-button">Sale</a>
        <a href="#about" class="nav-link">About Us</a>
        <a href="#thetoken" class="nav-link">The Token</a>
        <a routerLink="/buy" class="nav-link">How to Buy</a>
        <a href="" class="buy" style="margin-right: 25px">Buy SafeLuna</a>
      </div>
    </div>
  </div>
</div>

