<div class="container-fluid navigation-bg"  style="position: fixed">
  <div class="container container-wrapper">
    <div class="col nav-wrapper d-flex justify-content-between">
      <div class="logo-wrapper">
        <a href="#home" class="logo-link">
          <img src="assets/images/logo.png" alt="logo" class="img-logo" style="width: 50px">
          <span class="logo-text">Safe<span class="text-gold">Luna</span></span>
        </a>
      </div>
      <div class="navigation">
        <a href="#home" class="nav-link">Home</a>
        <a routerLink="/sale" class="nav-link">Sale <span class="flashing-button"></span></a>
        <a href="#about" class="nav-link">About Us</a>
        <a href="#thetoken" class="nav-link">The Token</a>
        <a routerLink="/buy" class="nav-link">How to Buy</a>
        <a href="" class="buy" style="margin-right: 25px">Buy SafeLuna</a>
      </div>
    </div>
  </div>
</div>

<!--mob-menu-->
<div class="container-mob" style="border-bottom: 1px solid hsla(0, 0%, 100%, 0.07); padding: 10px 0">
  <div class="header" style="display: flex; align-items: center; padding-left: 20px">
    <a href="/" class="logo-mobile" style="align-items: center; display: flex">
      <img src="assets/images/logo.png" alt="" style="width: 50px;">
      <span class="logo-text">Safe<span class="text-gold">Luna</span></span>
    </a>
    <input class="nav-burger__checkbox" type="checkbox" id="burger">
    <label class="nav-burger" for="burger"></label>
    <nav class="nav">
      <a routerLink="/sale" class="nav__item">Sale <span class="flashing-button"></span></a>
      <a href="#about" class="nav__item">About Us</a>
      <a href="#thetoken" class="nav__item">The Token</a>
      <a routerLink="/buy" class="nav__item">How to Buy</a>
      <a class="nav__item" href="#tekonomics">Tokenomics</a>
      <a href="#roadmap" class="nav__item">Roadmap</a>
    </nav>
  </div>
</div>
<!--mob-menu-->
